<<<<<<< HEAD
/* ================= CONTAINER ================= */
.login-container {
=======
.container {
>>>>>>> feat/product-details-page
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem;
}

/* ================= LOGO ================= */
.login-logo {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 1rem;
}

/* ================= TÍTULO ================= */
.login-title {
  margin-bottom: 1rem;
}

/* ================= BOTÃO ================= */
.login-button {
  margin-top: 1rem ;
  
}

/* ================= TEXTO ================= */
.login-text {
  font-size: var(--font-sm);
  color: var(--cor-texto);
  margin-top: 1rem;
}

/* ================= LINK ================= */
=======
  
}
.login-text {
  font-size: var(--font-sm);
  color: var(--cor-texto);
  padding: var(--esp-xs) 0;
}

>>>>>>> feat/product-details-page
.login-link {
  color: var(--cor-botao);
  font-weight: var(--peso-medio);
  text-decoration: none;
  cursor: pointer;
}

.login-link:hover {
  filter: brightness(0.95);
}
<<<<<<< HEAD

/* ================= RESPONSIVO ================= */
@media (max-width: 768px) {
  .login-logo {
    width: 220px;
    height: 220px;
  }
}
=======
>>>>>>> feat/product-details-page
