

/* ================= BOTÃO ================= */
.login-button {
  margin-top: 1rem ;
  
}

/* ================= TEXTO ================= */
.login-text {
  font-size: var(--font-sm);
  color: var(--cor-texto);
  margin-top: 1rem;
}

/* ================= LINK ================= */
.login-link {
  color: var(--cor-botao);
  font-weight: var(--peso-medio);
  text-decoration: none;
  cursor: pointer;
}

.login-link:hover {
  filter: brightness(0.95);
}

/* ================= RESPONSIVO ================= */
@media (max-width: 768px) {
  .login-logo {
    width: 220px;
    height: 220px;
  }
}
