.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.product {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.product img {
  width: 100%;
  height: auto;
  display: block;
}

.productCard {
    display: flex;
    flex-direction: column-reverse;
  text-align: center;
  background-color: var(--cor-botao-terciario);
  border-top: 2px dotted black;
  border-right: 2px dotted black;
  border-left: 2px dotted black;
  border-radius: 10px 10px 0 0;
  transition: transform 0.2s ease;
}

.productCard2 {
  background-color: var(--cor-backgroundDetails);
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.productCard:hover {
  transform: translateY(-6px) rotate(0.6deg);
}

section {
  min-height: 100vh;
  background-image: url(../../assets/img/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .product img {
    max-width: 300px;
  }
}
